html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
body{
  top: 0!important;
  background-color: rgb(250, 247, 242);
  }

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.body {
  padding: 20px;
  box-sizing: border-box;

}

.body::after {
  background-image: url("../public/background.jpg");
  background-repeat: repeat;
  filter: blur(1px);
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -5;


}

.body::before {
  background-color: #ffffffcc;
  background-color: rgb(250, 247, 242);
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.footer {
  font-size: .8rem;
  font-weight: 400;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.product-container {
  min-height: 70vh;
}

.thumbnails-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

.thumbnails-container img {
  margin-right: 10px;

}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  background-color: rgba(250, 247, 242, .95);
  max-height: 25rem;
  min-height: 9rem;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
  box-shadow: 0px -1px 5px #AAAAAA55;
  overflow: auto;
}

#google_translate_element {
  position: absolute;
  display: none;
  top: 50px;
  right: 16px !important;
  z-index: 9;
  width: 1px;
  opacity: 0;
}
